main{
    padding: 5% 0;
}
section{
    display: flex;
}
body{
    background-image:url('bgclouds.jpg');
    background-size: cover;
}
.temp{
    padding:1%;
    margin: 2%;
    width: 200px;
    background: rgba(34, 35, 35, 0.575);
    border-radius: 2.5%;
    color:antiquewhite;
}
#loc{
    padding: 6px 5px;
    margin:0;
}
.white{
    color:white;
}